.first-img {
    max-height: 80px;
    max-width: 80px;
  }
  .second-img {
    background-image: url(https://upload.wikimedia.org/wikipedia/it/thumb/b/b3/Fotogramma_dal_trailer_del_film_d%27animazione_%22Away%22_%282019%29.jpeg/800px-Fotogramma_dal_trailer_del_film_d%27animazione_%22Away%22_%282019%29.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
  .item-1{
    text-decoration: none;
  }
  .item-1:hover{
    color: #015fc9 !important; ;
  }
  .item-2{
    text-decoration: none;
  }
  .item-2::before{
  content: "/";
  }
  .item-2:hover{
    color: #015fc9 !important; ;
  }
  .item-3::before{
    content: "/";
    }
    .item-3{
      color: #015fc9!important;
    }
    .form img {
      width: 45px;
      height: 45px;
      margin-right: 8px;
    }
    .form {
      color: black;
    }
    .form-input,
    .num-parent {
      background-color: rgb(124, 9, 9);
      color: black;
    } 